<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../assets/css/estiloCadastrarProduto.css">
    <link rel="stylesheet" href="../assets/css/normalize.css">

    <title>Leilão Online - Cadastrar Produto</title>

</head>
<body>
    <h1>Cadastrar Produto para Leiloar</h1>
    <div class="corpo">
        <form action="" method="post" class="formulario">
            <input type="text" name="" id="nome" placeholder="Nome do produto">
            <input type="text" name="" id="descricao" placeholder="Descrição do produto">
            <input type="text" name="" id="valor" placeholder="valor inicial">
            <div id="imagem">
                <label>Imagem do produto:</label>
                <input type="file" name="image" id="input-imagem">
            </div>

        </form>
    </div>
    <button type="submit" id="botao-enviar">Enviar Produto</button>
</body>
</html>