<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../assets/css/normalize.css" media="screen">
    <link rel="stylesheet" href="../../assets/css/estiloCadastrar.css" media="screen">

    <title>Leilão Online - Cadastrar</title>
</head>

<body>

    <div class="corpo">
        <img class="imagem-person" src="../../assets/img/Person.png" alt="">

        <input type="text" id="username" class="username" name="username" placeholder="Username">

        <input type="email" id="email" class="email" name="email" placeholder="Email">

        <input type="date" id="data" name="data" class="data">

        <input type="text" id="cpf" name="cpf" class="cpf" placeholder="999.999.999-99">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
            $(document).ready(function($) {
                $("#cpf").mask("999.999.999-99")
            });
        </script>

        <input type="password" id="password" class="password" name="password" placeholder="Senha">

        <input type="password" id="confirmar-password" class="confirmar-senha" name="confirmar-senha" placeholder="Confirmar Senha">

        <button id="botao-tem-conta-id" class="botao-tem-conta">Ja tem uma conta?</button>
    </div>
    <button id="botao-cadastrar-id" class="botao-cadastrar">Cadastrar</button>
    <script type="text/javascript" src="../../typescript/compiled/CadastrarUser.js"></script>

</body>

</html>