<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../../assets/css/estiloCadastrarProduto.css">
    <link rel="stylesheet" href="../assets/css/normalize.css">

    <title>Leilão Online - Cadastrar Produto</title>

</head>
<body>
    <div class="corpo">
        <h1 class="titulo">Cadastrar Produto para Leiloar</h1>
        <input type="text" name="" id="nome" placeholder="Nome do produto">
        <input type="text" name="" id="valor" placeholder="valor inicial">
        <textarea name="" id="descricao" placeholder="Descrição do produto" cols="30" rows="10"></textarea>
        <div id="menuDeCategorias">
            <label for="lb-categorias">Categorias dos Produtos</label>
            <select name="categorias" id="categoria">
                <option value="paisagens">paisagens</option>
                <option value="abstratas">abstratas</option>
                <option value="abstratas">abstratas</option>
                <option value="abstratas">abstratas</option>
                
            </select>
        </div>
        <div id="imagem">
            <label>Imagem do produto:</label>
            <input type="file" name="image" id="input-imagem">
        </div>
        <form action="" method="post" class="formulario">
        </form>
    </div>
    <button type="submit" id="botao-enviar">Enviar Produto</button>
</body>
</html>