<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../assets/css/estiloTelaCadastrarEndereco.css">
    <link rel="stylesheet" href="../../assets/css/normalize.css">

    <title>Leilão Online - Cadastrar Endereço</title>
</head>
<body>
    <div class="corpo">
        <h1 id="titulo">Cadastre seu Endereço</h1>
        <input type="text" name="logradouro" id="logradouro" placeholder="Logradouro">
        <input type="text" name="numero" id="numero" placeholder="Numero">
        <input type="text" name="bairro" id="bairro" placeholder="Bairro">
        <input type="text" name="CEP" id="cep" placeholder="CEP">
        <input type="text" name="municipio" id="municipio" placeholder="Municipio">
        <input type="text" name="estado" id="estado" placeholder="Estado">
        <input type="text" name="pais" id="pais" placeholder="Pais">
        <input type="text" name="complemento" id="complemento" placeholder="Complemento">
    </div>
    <button type="submit" id="botaoEndereco">Adicionar Endereço</button>
</body>
</html>