<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../assets/css/normalize.css" media="screen">
    <link rel="stylesheet" href="../../assets/css/estiloLogin.css" media="screen">

    <title>Leilão Online - Login</title>
</head>

<body>
    <div class="corpo">
        <img class="imagem-person" src="../../assets/img/Person.png" alt="">

        <form action="" method="POST">
            <div>
                <!-- <img class="imagem-email" src="../../assets/img/emailPerson.png" alt=""> -->
                <input type="username" name="" id="usernameInput" class="username" placeholder="username">

                <!-- <img class="imagem-password" src="../../assets/img/passwordPerson.png" alt=""> -->
                <input type="password" name="" id="passwordInput" class="password" placeholder="Senha">

                <div class="check-box">
                    <button class="botao-esqueceu-senha"><ins>Esqueceu a Senha?</ins></button>
                    <input class="check-box-button" type="checkbox" name="">
                    <p class="msg-lembrar-senha">Lembrar Senha</p>
                </div>
            </div>
        </form>
    </div>
    <button class="botao-logar" id="botao-logar">Logar</button>
    <script type="text/javascript" src="../../typescript/compiled/FazerLogin.js"></script>
</body>

</html>