<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../assets/css/estiloPaginaPrincipal.css">

    <title>Leião online</title>
</head>
<body>
    <div class="corpo-pagina">
        <div class="cabecalho">
            <img src="../../assets/img/Logo.png" alt="logo do site">
            <div class="botao-login">
                <button>Login</button>
            </div>
            
            <div class="barra"></div>
            
        </div>
        <div class="categorias">
            <p class="texto-sup-menu">CATEGORIAS</p>
            <div class="menu">
                
            </div>
        </div>
        <div class="catalogo">
            <div class="catalogo-cabecalho">
                <h1>Leilão Online</h1>
            </div>
            <div class="catalogo-corpo">
                <p>sdadasadas</p>
            </div>
        </div>
        <footer class="rodape">

        </footer>
    </div>
</body>
</html>