<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../assets/css/estiloPaginaPrincipal.css">

    <title>Leilão online</title>
</head>

<body>
    <div class="corpo-pagina">
        <div class="cabecalho">

            <img src="../../assets/img/logo.png" alt="logo do site" id="imagemLogo">

            <button id="botaoLogin" class="botao-login"><img src="../../assets/img/botaoLogin.png" alt="botão de Login" id="imagemBotaoLogin"></button>

            <!--<div class="barra"><input type="text"></div> -->

        </div>
        <div class="categorias">
            <div class="div-texto-sup-menu">
                <p class="texto-sup-menu">CATEGORIAS</p>
            </div>

            <nav class="menu">
                <a href="" id="opcao">Tudo</a>
                <a href="" id="opcao">Arrematados</a>
                <a href="" id="opcao">Irão ser arrematados</a>
                <a href="" id="opcao">Tudo</a>
                <a href="" id="opcao">Tudo</a>
                <a href="" id="opcao">Tudo</a>
                <a href="" id="opcao">Tudo</a>
                <a href="" id="opcao">Tudo</a>
                <a href="" id="opcao">Tudo</a>

            </nav>
        </div>
        <div id="catalogo" class="catalogo">

        </div>
    </div>
    <script type="text/javascript" src="../../typescript/compiled/PaginaPrincipal.js"></script>
</body>

</html>