<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/estiloCadastrarProdutoLeiloar.css">

    <title>Leilão Online - Cadastrar Produto para leiloar</title>
</head>

<body>
    <div class="corpo">
        <h1 class="titulo">Lista de Produtos para Leiloar</h1>
        <div id="listaProdutos">
        </div>
        <textarea name="Descrição" id="descricao" placeholder="Descrição do produto" cols="63" rows="8"></textarea>
        <div id="menuDeCategorias">
            <label for="lb-categorias">Categorias dos Produtos</label>
            <select name="categorias" id="categoria">
            </select>
        </div>
        <div class="div-valores">
            <input type="text" name="" id="valorInicial" placeholder="valor inicial">
            <input type="text" name="" id="valorMeta" placeholder="valor meta">
        </div>
        <div class="div-tempoComecar">
            <label for="" id="lbHComecar">Data e Hora para Começar:</label>
            <input type="date" name="inputDComecar" id="inputDComecar">
            <input type="time" name="" id="inputHComecar">
        </div>
        <div class="div-tempoTerminar">
            <label for="" id="lbHTerminar">Data e Hora para Terminar:</label>
            <input type="date" name="inputDTerminar" id="inputDTerminar">
            <input type="time" id="inputHTerminar">
        </div>
    </div>
    <button id="botao-Leiloar">Leiloar Produto</button>
    <script type="text/javascript" src="../../typescript/compiled/CadastrarLeilao.js"></script>
</body>

</html>