<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../assets/css/estiloTelaDeUsuario.css">
    <link rel="stylesheet" href="../../assets/css/normalize.css">

    <title>Leilão Online - Perfil de Usuario</title>
</head>
<body>
    <div class="corpo">    
        <h1 class="titulo">Perfil</h1>
        <form action="" method="POST">

            <label for="" class="lUsername">Username</label>

            <label for="" class="lEmail">Email</label>
            
            <input type="text" class="username" name="username" placeholder="batata2020">
            
            <input type="email" class="email" name="email" placeholder="teste@gmail.com">

            <label for="" class="lData">Data De Nascimento</label>
            
            <label for="" class="lCpf">CPF</label>
            
            <input type="date" name="data" class="data">

            <input type="text" name="cpf" class="cpf" disabled="disabled" placeholder="999.999.999-99">
            
            <button class="botao-alterarSenha">Alterar Senha?</button>
        </form>
    </div>
    <button type="submit" class="botao-salvar">Salvar</button>
    <button type="submit" class="botao-cancelar">cancelar</button>
</body>
</html>