<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leilão Online - Tela do produto</title>
</head>
<body>
    <div class="corpo">
        <label for="" id="idDoLeilao"></label><br>
        <label for="" id="idDoProduto"></label><br>
        <Label id="nomeDoProduto"></Label><br>
        <label for="" id="DescricaoDoLeilao"></label><br>
        <label for="" id="valorUltimoLance"></label><br>
        <label for="" id="NomeDoUltimo"></label><br>
        <input type="text" id="valorDoLance" placeholder="Valor Do Lance"><br>
        <button type="submit" id="botaoLance">Lance</button><br>
    </div>
</body>
</html>