<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../assets/css/estiloTelaLeilao.css">
    <link rel="stylesheet" href="../../assets/css/normalize.css">

    <title>Leilão Online - Tela do produto</title>
</head>
<body>
    <div class="corpo">
        <h1 class="titulo">Tela de Leilão do Produto</h1>
        <label for="" id="idDoLeilao">id do Leilão: 10</label><br>
        <label for="" id="idDoProduto">id do produto: 15</label><br>
        <Label id="nomeDoProduto">pack the fotos paisagens</Label><br>
        <label for="" id="DescricaoDoLeilao">pacote com 5 fotos</label><br>
        <label for="" id="valorUltimoLance">R$195</label><br>
        <label for="" id="NomeDoUltimo">Gabriel</label><br>
        <input type="text" id="valorDoLance" placeholder="Valor Do Lance">
    </div>
    <button type="submit" id="botaoLance">Lance</button>
</body>
</html>