<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leilão Online - Tela do produto</title>
</head>
<body>
    <div class="corpo">
        <label for="">id do produto</label><br>
        <Label>Nome Do produto</Label><br>
        <label for="">descrição do Produto</label><br>
        <label for="">R$150,00</label><br>
        <label for="">Gabriel</label><br>
        <button type="submit">Lance</button><br>
    </div>
</body>
</html>