body {
    margin-top: auto;
    margin-left: auto;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
    overflow-x: auto;
    overflow-y: auto;
}

.cabecalho{
    width: auto;
    background-color: black;
}

a{
    text-decoration: none;
}
.menu{
    width:100%;
    height:10%;
    background-color:#004E96;
    text-transform: uppercase;
    display: inline;
}

.botao-home,.botao-arrematados,.botao-perguntas,.botao-funciona{
    width: 10%;
    height: 30px;
    text-align: center;
    vertical-align:middle;
    display:table-cell;
    color: white;
    background-color: #004E96;
    border: none;
}

/* mudar o cor do botao quando passa mouse*/
.botao-home:hover,.botao-arrematados:hover,.botao-perguntas:hover,.botao-funciona:hover{
    background-color: #033d74;
    transition: 0.5s;
    opacity: 0.7;
}

.botao-login{
    float: right;
}

.botao-cadastrar{
    float: right;
}

.catalogo{
    width: 80%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(196, 236, 244, 0.9);
    background-blend-mode: normal;
    mix-blend-mode: luminosity;
}

.catalogo-cabecalho{
    height: 10%;
    background: #004E96;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

