<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../assets/css/normalize.css" media="screen">
    <link rel="stylesheet" href="../../assets/css/estiloCadastrar.css" media="screen">

    <title>Leilão Online - Cadastrar</title>
</head>
<body>
    
    <div class="corpo">
        <img class="imagem-person" src="../../assets/img/Person.png" alt="">
        
        <form action="" method="POST">
            
            <input type="text" class="nome" name="nome" id="" placeholder="Nome">
            
            
            <input type="email" class="email" name="email" placeholder="Email">

            <input type="date" name="data" class="data">

            <input type="text" name="cpf" class="cpf" placeholder="999.999.999-99">
            <script type="text/javascript">
                jQuery(function($){
                    $("#cpf").mask("999.999.999-99")
                });
            </script>
            
            <input type="password" class="password" name="password" placeholder="Senha">

            <input type="password" class="confirmar-senha" name="confirmar-senha" placeholder="Confirmar Senha">
            
            <button class="botao-tem-conta">Ja tem uma conta?</button>  
        </form>
    </div> 
    <button type="submit" class="botao-cadastrar">Cadastrar</button>
    
</body>
</html>