<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../assets/css/estiloLogin.css" media="screen">
</head>

<body>
    <div class="div-principal">
    </div>
    <div class="corpo">
        <form action="" method="POST">

            <input type="email" name="" class="email" placeholder="Email">

            <input type="password" name="" class="password" placeholder="Senha">

            <div class="check-box">
                <p class="msg">Lembrar Senha</p>
                <input class="check-box-button" type="checkbox" name="">
            </div>

            <button class="botao-esqueceu-senha">Esqueceu a Senha?</button>

            <button class="botao-logar" id="botao-logar">Logar</button>
        </form>
    </div>
    <script type="text/javascript" src="../../typescript/compiled/FazerLogin.js"></script>
</body>

</html>