<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../assets/css/estiloCatalogo.css">

    <title>Leião online</title>

    
</head>
<body>
    <div class="corpo-pagina">
        <div class="cabecalho">
            <img src="../../assets/img/Logo.png" alt="logo do site">
            <div class="botao-cadastrar">
                <button>Cadastrar</button>
            </div>
            <div class="botao-login">
                <button>Login</button>
            </div>
            
            <nav class="menu">
                <a class="botao-home" href="#">Home</a>
                <a class="botao-arrematados" href="#">Leilões arrematados</a>
                <a class="botao-perguntas" href="#">Pergunta Frequentes</a>
                <a class="botao-funciona" href="#">Como Funciona</a>
            </nav>
        </div>
        <div class="catalogo">
            <div class="catalogo-cabecalho">
                <h1>Leilão Online</h1>
            </div>
            <div class="catalogo-corpo">
                <p>sdadasadas</p>
            </div>
        </div>
        <footer class="rodape">

        </footer>
    </div>
</body>
</html>