<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/estiloAdicionarPagamento.css">
    
    <title>Leilão Online - Realizar Pagamento</title>
</head>
<body>
    <div class="corpo">
        <form action="" method="POST">
            <h1 id="titulo">Realizar Pagamento</h1>

            <input type="text" name="Nome completo" id="nomeCompleto" placeholder="Nome Completo">

            <input type="" name="" id="inputMes" placeholder="MM">

            <input type="" name="" id="inputAno" placeholder="YY">

            <input type="" id="inputNumero" placeholder="4111 1111 1111 1111">
            
            <input type="" id="inputCVC" placeholder="CVC">
        </form>
    </div>
    <button id="botaoCadastrarPagamento">Realizar Pagamento</button>
</body>
</html>