body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
    overflow-x: auto;
    overflow-y: auto;
}

.corpo{
    width: 50%;
    height: 560px;
    margin: auto;
    margin-top: 1%;
    border-radius: 40px;
    box-shadow: 0px 10px 15px #255c72;
    background-color: rgba(196, 236, 244, 0.9);
    background-blend-mode: normal;
    mix-blend-mode: luminosity;
}

.titulo{
    text-align: center;
    color:rgba(3, 124, 180, 0.9)
}

#listaProdutos{
    width: 80%;
    height: 100px;
    margin-top: 2%;
    margin-left: 7%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(178, 232, 243, 0.9);
}

#descricao{
    margin-top: 2%;
    margin-left: 7%;
    
}

#menuDeCategorias{
    width: 60%;
    height: 40px;
    margin-left: 22%;
    margin-top: 1%;
}

#lb-categorias{
    width: 60%;
    height: 40px;
}

#categoria{
    width: 45%;
    height: 30px;
}

#valorInicial{
    width: 20%;
    height: 20px;
    margin-top: 2%;
    margin-left: 26%;
}

#valorMeta{
    width: 20%;
    height: 20px;
    margin-top: 2%;
    margin-left: 2%;
}

#lbHComecar{
    width: 13%;
    height: 22px;
    margin-top: 4%;
    margin-left: 30%;
}

#inputHComecar{
    width: 12%;
    height: 22px;
    margin-top: 3%;
    margin-left: 2%;
    
}

#lbHTerminar{
    width: 12%;
    height: 22px;
    margin-left: 30%;
}

#inputHTerminar{
    width: 12%;
    height: 22px;
    margin-top: 3%;
}

#botao-Leiloar{
    position: fixed;
    margin-left: 43%;
    height: 7%;
    width: 15%;
    border: none;
    background: linear-gradient(180deg, #2C6C86 1%, rgba(196, 236, 244, 0.9));
    border-radius: 0px 0px 30px 30px;
    color: white;
    font-size: 130%;
    font-family: Roboto;
    font-style: normal;
}